body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1220px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1040px;
}
#u142 {
  position:absolute;
  left:20px;
  top:20px;
  width:1200px;
  height:1040px;
}
#u143 {
  position:absolute;
  left:2px;
  top:512px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF6699;
}
#u144 {
  position:absolute;
  left:311px;
  top:78px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF6699;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u146 {
  position:absolute;
  left:279px;
  top:130px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u146_seg0 {
  position:absolute;
  left:-5px;
  top:-4px;
  width:5px;
  height:8px;
}
#u146_seg1 {
  position:absolute;
  left:-5px;
  top:-43px;
  width:8px;
  height:47px;
}
#u146_seg2 {
  position:absolute;
  left:-5px;
  top:-43px;
  width:37px;
  height:8px;
}
#u146_seg3 {
  position:absolute;
  left:14px;
  top:-49px;
  width:20px;
  height:20px;
}
#u147 {
  position:absolute;
  left:-51px;
  top:-44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:20px;
  top:1104px;
  width:987px;
  height:218px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:33px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:33px;
}
#u150 {
  position:absolute;
  left:2px;
  top:8px;
  width:150px;
  word-wrap:break-word;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:33px;
}
#u151 {
  position:absolute;
  left:154px;
  top:0px;
  width:828px;
  height:33px;
  text-align:left;
}
#u152 {
  position:absolute;
  left:2px;
  top:8px;
  width:824px;
  word-wrap:break-word;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
#u153 {
  position:absolute;
  left:0px;
  top:33px;
  width:154px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u154 {
  position:absolute;
  left:2px;
  top:6px;
  width:150px;
  word-wrap:break-word;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:30px;
}
#u155 {
  position:absolute;
  left:154px;
  top:33px;
  width:828px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u156 {
  position:absolute;
  left:2px;
  top:6px;
  width:824px;
  word-wrap:break-word;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
#u157 {
  position:absolute;
  left:0px;
  top:63px;
  width:154px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u158 {
  position:absolute;
  left:2px;
  top:6px;
  width:150px;
  word-wrap:break-word;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:30px;
}
#u159 {
  position:absolute;
  left:154px;
  top:63px;
  width:828px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u160 {
  position:absolute;
  left:2px;
  top:6px;
  width:824px;
  word-wrap:break-word;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
#u161 {
  position:absolute;
  left:0px;
  top:93px;
  width:154px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u162 {
  position:absolute;
  left:2px;
  top:6px;
  width:150px;
  word-wrap:break-word;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:30px;
}
#u163 {
  position:absolute;
  left:154px;
  top:93px;
  width:828px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u164 {
  position:absolute;
  left:2px;
  top:6px;
  width:824px;
  word-wrap:break-word;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
#u165 {
  position:absolute;
  left:0px;
  top:123px;
  width:154px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u166 {
  position:absolute;
  left:2px;
  top:6px;
  width:150px;
  word-wrap:break-word;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:30px;
}
#u167 {
  position:absolute;
  left:154px;
  top:123px;
  width:828px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u168 {
  position:absolute;
  left:2px;
  top:6px;
  width:824px;
  word-wrap:break-word;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
#u169 {
  position:absolute;
  left:0px;
  top:153px;
  width:154px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u170 {
  position:absolute;
  left:2px;
  top:6px;
  width:150px;
  word-wrap:break-word;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:30px;
}
#u171 {
  position:absolute;
  left:154px;
  top:153px;
  width:828px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u172 {
  position:absolute;
  left:2px;
  top:6px;
  width:824px;
  word-wrap:break-word;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
#u173 {
  position:absolute;
  left:0px;
  top:183px;
  width:154px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u174 {
  position:absolute;
  left:2px;
  top:6px;
  width:150px;
  word-wrap:break-word;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:30px;
}
#u175 {
  position:absolute;
  left:154px;
  top:183px;
  width:828px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u176 {
  position:absolute;
  left:2px;
  top:6px;
  width:824px;
  word-wrap:break-word;
}
