body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1329px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:853px;
}
#u2299 {
  position:absolute;
  left:20px;
  top:20px;
  width:1200px;
  height:853px;
}
#u2300 {
  position:absolute;
  left:2px;
  top:418px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2301 {
  position:absolute;
  left:458px;
  top:328px;
  width:0px;
  height:0px;
}
#u2301_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:6px;
}
#u2301_seg1 {
  position:absolute;
  left:-4px;
  top:-2px;
  width:86px;
  height:8px;
}
#u2301_seg2 {
  position:absolute;
  left:64px;
  top:-8px;
  width:20px;
  height:20px;
}
#u2302 {
  position:absolute;
  left:-10px;
  top:-6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6699;
}
#u2303 {
  position:absolute;
  left:552px;
  top:318px;
  width:109px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6699;
}
#u2304 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u2305 {
  position:absolute;
  left:1126px;
  top:451px;
  width:0px;
  height:0px;
}
#u2305_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:6px;
}
#u2305_seg1 {
  position:absolute;
  left:-4px;
  top:-2px;
  width:86px;
  height:8px;
}
#u2305_seg2 {
  position:absolute;
  left:64px;
  top:-8px;
  width:20px;
  height:20px;
}
#u2306 {
  position:absolute;
  left:-10px;
  top:-6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6699;
}
#u2307 {
  position:absolute;
  left:1220px;
  top:441px;
  width:109px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6699;
}
#u2308 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u2309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:853px;
}
#u2309 {
  position:absolute;
  left:20px;
  top:904px;
  width:1200px;
  height:853px;
}
#u2310 {
  position:absolute;
  left:2px;
  top:418px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:853px;
}
#u2311 {
  position:absolute;
  left:20px;
  top:1787px;
  width:1200px;
  height:853px;
}
#u2312 {
  position:absolute;
  left:2px;
  top:418px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
