body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1220px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:853px;
}
#u651 {
  position:absolute;
  left:20px;
  top:20px;
  width:1200px;
  height:853px;
}
#u652 {
  position:absolute;
  left:2px;
  top:418px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u653 {
  position:absolute;
  left:20px;
  top:909px;
  width:873px;
  height:514px;
}
#u654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:33px;
}
#u654 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:33px;
}
#u655 {
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:33px;
}
#u656 {
  position:absolute;
  left:150px;
  top:0px;
  width:718px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u657 {
  position:absolute;
  left:2px;
  top:8px;
  width:714px;
  word-wrap:break-word;
}
#u658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
}
#u658 {
  position:absolute;
  left:0px;
  top:33px;
  width:150px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u659 {
  position:absolute;
  left:2px;
  top:41px;
  width:146px;
  word-wrap:break-word;
}
#u660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:100px;
}
#u660 {
  position:absolute;
  left:150px;
  top:33px;
  width:718px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u661 {
  position:absolute;
  left:2px;
  top:5px;
  width:714px;
  word-wrap:break-word;
}
#u662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
}
#u662 {
  position:absolute;
  left:0px;
  top:133px;
  width:150px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u663 {
  position:absolute;
  left:2px;
  top:41px;
  width:146px;
  word-wrap:break-word;
}
#u664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:100px;
}
#u664 {
  position:absolute;
  left:150px;
  top:133px;
  width:718px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u665 {
  position:absolute;
  left:2px;
  top:5px;
  width:714px;
  word-wrap:break-word;
}
#u666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:64px;
}
#u666 {
  position:absolute;
  left:0px;
  top:233px;
  width:150px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u667 {
  position:absolute;
  left:2px;
  top:23px;
  width:146px;
  word-wrap:break-word;
}
#u668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:64px;
}
#u668 {
  position:absolute;
  left:150px;
  top:233px;
  width:718px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u669 {
  position:absolute;
  left:2px;
  top:5px;
  width:714px;
  word-wrap:break-word;
}
#u670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u670 {
  position:absolute;
  left:0px;
  top:297px;
  width:150px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u671 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:30px;
}
#u672 {
  position:absolute;
  left:150px;
  top:297px;
  width:718px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u673 {
  position:absolute;
  left:2px;
  top:6px;
  width:714px;
  word-wrap:break-word;
}
#u674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:64px;
}
#u674 {
  position:absolute;
  left:0px;
  top:327px;
  width:150px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u675 {
  position:absolute;
  left:2px;
  top:23px;
  width:146px;
  word-wrap:break-word;
}
#u676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:64px;
}
#u676 {
  position:absolute;
  left:150px;
  top:327px;
  width:718px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u677 {
  position:absolute;
  left:2px;
  top:5px;
  width:714px;
  word-wrap:break-word;
}
#u678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:118px;
}
#u678 {
  position:absolute;
  left:0px;
  top:391px;
  width:150px;
  height:118px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u679 {
  position:absolute;
  left:2px;
  top:50px;
  width:146px;
  word-wrap:break-word;
}
#u680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:118px;
}
#u680 {
  position:absolute;
  left:150px;
  top:391px;
  width:718px;
  height:118px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u681 {
  position:absolute;
  left:2px;
  top:5px;
  width:714px;
  word-wrap:break-word;
}
