body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1345px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:853px;
}
#u657 {
  position:absolute;
  left:20px;
  top:20px;
  width:1200px;
  height:853px;
}
#u658 {
  position:absolute;
  left:2px;
  top:418px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u659 {
  position:absolute;
  left:506px;
  top:137px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u659_seg0 {
  position:absolute;
  left:-4px;
  top:-6px;
  width:8px;
  height:6px;
}
#u659_seg1 {
  position:absolute;
  left:-4px;
  top:-6px;
  width:60px;
  height:8px;
}
#u659_seg2 {
  position:absolute;
  left:38px;
  top:-12px;
  width:20px;
  height:20px;
}
#u660 {
  position:absolute;
  left:-23px;
  top:-10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF6699;
}
#u661 {
  position:absolute;
  left:565px;
  top:126px;
  width:57px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF6699;
}
#u662 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u663 {
  position:absolute;
  left:1172px;
  top:262px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u663_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:65px;
  height:8px;
}
#u663_seg1 {
  position:absolute;
  left:43px;
  top:-10px;
  width:20px;
  height:20px;
}
#u664 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-style:normal;
  font-size:14px;
  color:#FF6699;
}
#u665 {
  position:absolute;
  left:1238px;
  top:253px;
  width:107px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-style:normal;
  font-size:14px;
  color:#FF6699;
}
#u666 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u667 {
  position:absolute;
  left:799px;
  top:185px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u667_seg0 {
  position:absolute;
  left:-4px;
  top:-6px;
  width:8px;
  height:6px;
}
#u667_seg1 {
  position:absolute;
  left:-4px;
  top:-6px;
  width:60px;
  height:8px;
}
#u667_seg2 {
  position:absolute;
  left:38px;
  top:-12px;
  width:20px;
  height:20px;
}
#u668 {
  position:absolute;
  left:-23px;
  top:-10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF6699;
}
#u669 {
  position:absolute;
  left:858px;
  top:174px;
  width:183px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF6699;
}
#u670 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
